@mixin titulo {
    font-size: 2.5rem;
    font-family: "Koh Santepheap", sans-serif;
    font-weight: 500;
    color: #232323;
}
@mixin subTitulo {
    font-size: 1.5rem;
    font-family: "Koh Santepheap", sans-serif;
    font-weight: 500;
    color: #232323;
}
@mixin paragrafo {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #232323;
}
@mixin efeitoZoom {
    transition: transform 0.3s ease-in-out; // Transição para transformação
    &:hover {
        transform: scale(1.15); // Aumenta o tamanho do botão
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 60vw;
    margin: 0 auto;
    
}

button{
    @include efeitoZoom();
    border-radius:60px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    font-size: 1,25rem;
    font-family: Poppins;
    &:active {
        transform: scale(0.9); // Reduz o tamanho do botão ao clicar
    }
}

header{
    display: flex;
    width: 60vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #F8F5F2;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);

    .navCabecario{
        ul{
            display: flex;
            justify-content: space-between;
            width: 30vw;
            list-style-type: none;
            
            li{
                @include efeitoZoom();
            }

            a{
                text-decoration: none;
                @include paragrafo();
            }
        }
    }
}

.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px; 
    
    div{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 50%;
        gap: 20px;
    }
    
    .sushi{
        width: 30%;
    }

    h2{
        @include titulo();
    }

    p{
       @include subTitulo();
       width: 90%;
    }
}

.sobreNos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    div{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 50%;
        gap: 20px;
        
    }
    
    .noodle{
        width: 45%;
    }

    .sobreNosTxt{
        @include subTitulo();
        color: #ff0000;
    }

    h2{
        @include titulo();
        width: 60%;
        
    }

    p{
        @include paragrafo();
        width: 74%;
    }
    
}

.popularesTxt{
    @include titulo();
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.populares{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 5%;
        background-color: #F8F5F2;
        width: 30%;
        gap: 20px;
        

        
        
        img{
            @include efeitoZoom();
            width: 70%;
            position: relative;
            top: -70px;
            margin-bottom: -50px;
        }
        
        h3{
            @include subTitulo();
            font-size: 1.8rem;
            width: 100%;
            
        }

        p{
            @include paragrafo();
            width: 80%;
            

        }
        
        .preco{
            @include subTitulo();
            color: #ff0000; 
            margin-bottom: 20px  
            
        }
        
    }
    
}

.comentarioTxt{
    @include titulo();
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.comentarios{
    display: flex;
    gap: 50px;
    
    div{ 
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 50%;
        border-radius: 5%;
        background-color: #F8F5F2;
        gap: 20px;
        padding-left: 20px;
    }
    
    .fotoAvaliacao{
        width: 25%;
        margin: 10px;
    }
    
    h3{
        @include subTitulo();
        width: 80%;
    }

    p{
        @include paragrafo();
        width: 55%;
        
    }
    
    .paragrafoRicardo{
        @include paragrafo();
        width: 70%;
    }
    
    
    .estrelas{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 50%;
        margin-bottom: 20px;
        padding: 0;
        
        img{
            width: 10%;
        }
    }
    
    
}

.navFooter{
    display: flex;
    margin: 30px 0;
    gap: 150px;
    
    ul{
        list-style-type: none;
        
        h2{
            @include subTitulo();
            color: #ff0000;  
            padding-bottom: 10px
        }
        
        a{
            @include paragrafo();
            @include efeitoZoom();
            display: flex;
            text-decoration: none;
            padding-bottom: 10px;
        }
    }
}

.linhaFooter{
    border: none;
    height: 1px; 
    background-color: #F8F5F2;
}

footer{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 20 0;
    padding: 0 50px 0 50px;

    nav img{
        @include efeitoZoom();
    }
    
}

#inicio, #sobreNos, #populares {
    scroll-margin-top: 10vh;
  }